ELASTIC_PASSWORD=YOUR_PASSWORD
KIBANA_PASSWORD=YOUR_PASSWORD
STACK_VERSION=8.15.2
CLUSTER_NAME=YOUR_CLUSTER_NAME
LICENSE=BASIC/TRIAL
ES_PORT=9204
KIBANA_PORT=5604

# Increase or decrease based on the available host memory (in bytes)
ES_MEM_LIMIT=2147483648
KB_MEM_LIMIT=2147483648
LS_MEM_LIMIT=2147483648


# SAMPLE Predefined Key only to be used in POC environments
ENCRYPTION_KEY=YOUR_ENCRYPTION_KEY